@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-hedvig;
  }
  .bg-gradient-pattern {
    background-color: #e5e5f7;
    opacity: 0.1;
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
      linear-gradient(225deg, #444cf7 25%, transparent 25%),
      linear-gradient(45deg, #444cf7 25%, transparent 25%),
      linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position:
      4px 0,
      4px 0,
      0 0,
      0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
  }
}
